---
import Head from "../components/_head.astro";
import Scripts from "../components/_scripts.astro";

const title = "AdminLTE 4 | Login Page v2";
const path = "../../../dist";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} path={path} />
  </head>
  <body class="login-page bg-body-secondary">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h1 class="mb-0">
            <b>Admin</b>LTE
          </h1>
        </div>
      </div>
      <div class="card-body login-card-body">
        <p class="login-box-msg">登入以检视相关信息</p>
        <form id="loginForm">
          <div class="input-group mb-1">
            <div class="form-floating">
              <input
                id="loginEmail"
                type="email"
                class="form-control"
                value=""
                placeholder=""
              />
              <label for="loginEmail">注册邮箱</label>
            </div>
            <div class="input-group-text">
              <span class="bi bi-envelope"></span>
            </div>
          </div>
          <div class="input-group mb-1">
            <div class="form-floating">
              <input
                id="loginPassword"
                type="password"
                class="form-control"
                placeholder=""
              />
              <label for="loginPassword">密码</label>
            </div>
            <div class="input-group-text">
              <span class="bi bi-lock-fill"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-8 d-inline-flex align-items-center">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  记住我
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">登入</button>
              </div>
            </div>
          </div>
        </form>
        <script is:inline>
          document
            .getElementById("loginForm")
            ?.addEventListener("submit", async function (event) {
              event.preventDefault();
        
              const emailElement = document.getElementById("loginEmail");
              const passwordElement = document.getElementById("loginPassword");
              if (emailElement && passwordElement) {
                const email = emailElement.value;
                const password = passwordElement.value;
        
                const formData = new FormData();
                formData.append("email", email);
                formData.append("password", password);
        
                try {
                  const response = await fetch("http://localhost:8000/login", {
                    method: "POST",
                    body: formData,
                  });
        
                  if (response.ok) {
                    const data = response.json();
                    const token = data.token;
        
                    localStorage.setItem("email", JSON.stringify({ email }));
                    localStorage.setItem(
                      "password",
                      JSON.stringify({ password }),
                    );
                    localStorage.setItem("token", token);
                    alert("登录成功！");
                    window.location.href = "/client.html";
                  } else {
                    const errorData = response.json();
                    alert("登录失败：" + errorData.error);
                    console.error("登录失败");
                  }
                } catch (error) {
                  alert("发生错误：" + error.message);
                  console.error("发生错误:", error);
                }
              } else {
                console.error("登录表单元素未找到");
              }
            });
        </script>
        
        <div class="social-auth-links text-center mb-3 d-grid gap-2">
          <p>- 或者 -</p>
          <a href="register.html" class="btn btn-danger">
            <i></i> 注册新用户
          </a>
        </div>
      </div>
    </div>
    <Scripts path={path} />
  </body>
</html>
